<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="584F5685-C0E5-4D84-B6F2-045B801A0BA1" Name="AntiMicro" Language="1033" Version="2.20.2" Manufacturer="AntiMicro" UpgradeCode="6CB5EE74-62E1-49C1-8199-69C640D23C5A">
        <Package Description="AntiMicro" Comments="AntiMicro" InstallerVersion="200" InstallScope="perMachine" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder" Name="PFiles">
                <Directory Id="ANTIMICRO" Name="AntiMicro">
                    <Component Id="ANTIMICRO.EXE" Guid="90E3430C-0DE6-484D-AEDE-3DE77D1F63D9">
                        <File Source="..\antimicro\antimicro.exe">
                            <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="AntiMicro" WorkingDirectory="ANTIMICRO" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                            <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="AntiMicro" WorkingDirectory="ANTIMICRO" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                        </File>
                    </Component>
                    <Component Id="ICUDT54.DLL" Guid="E1D9A8BF-6C31-470B-8333-ECFE5DECB701">
                        <File Source="..\antimicro\icudt54.dll" />
                    </Component>
                    <Component Id="ICUIN54.DLL" Guid="B4E3E010-C40B-4250-A6DD-2144081633EE">
                        <File Source="..\antimicro\icuin54.dll" />
                    </Component>
                    <Component Id="ICUUC54.DLL" Guid="C68F7C85-14B0-4F54-8B70-7CE65101ACE6">
                        <File Source="..\antimicro\icuuc54.dll" />
                    </Component>
                    <Component Id="LIBGCC_S_SEH_1.DLL" Guid="C34C6656-54EF-48EF-8581-3DF8676D2936">
                        <File Id="LIBGCC_S_SEH_1.DLL" Source="..\antimicro\libgcc_s_seh-1.dll" />
                    </Component>
                    <Component Id="LIBSTDC___6.DLL" Guid="56890D38-86FD-4476-A9EE-D555DA49203B">
                        <File Id="LIBSTDC___6.DLL" Source="..\antimicro\libstdc++-6.dll" />
                    </Component>
                    <Component Id="LIBWINPTHREAD_1.DLL" Guid="D24A7934-859F-4622-B2B8-5387997B0FF4">
                        <File Id="LIBWINPTHREAD_1.DLL" Source="..\antimicro\libwinpthread-1.dll" />
                    </Component>
                    <Component Id="QT5CORE.DLL" Guid="AB82425D-236A-48EE-927E-9E63AB3D33C5">
                        <File Source="..\antimicro\Qt5Core.dll" />
                    </Component>
                    <Component Id="QT5GUI.DLL" Guid="BF3DC188-8F6A-4FB4-A6C7-AD7451CBA552">
                        <File Source="..\antimicro\Qt5Gui.dll" />
                    </Component>
                    <Component Id="QT5NETWORK.DLL" Guid="8CBD5157-60BA-43F0-8B37-9E7A47989770">
                        <File Source="..\antimicro\Qt5Network.dll" />
                    </Component>
                    <Component Id="QT5WIDGETS.DLL" Guid="A9D83DBB-D9CD-4347-9B89-F29794E92048">
                        <File Source="..\antimicro\Qt5Widgets.dll" />
                    </Component>
                    <Component Id="SDL2.DLL" Guid="89898F34-8345-414E-9210-85B53FD34D53">
                        <File Source="..\antimicro\SDL2.dll" />
                    </Component>
                    <Component Id="README_SDL.TXT" Guid="*">
                        <File Source="..\antimicro\README-SDL.txt" />
                    </Component>
                    <Component Id="README.MD" Guid="72F83989-7487-44C9-B5CD-AC37898274D7">
                        <File Source="..\antimicro\README.md" />
                    </Component>
                    <Component Id="GPL.TXT" Guid="5ED021DD-5160-4618-8E51-BAEF278250B1">
                        <File Source="..\antimicro\gpl.txt" />
                    </Component>
                    <Component Id="CHANGELOG" Guid="49AA82FA-AE90-47D7-B55B-E6C28F7161CB">
                        <File Source="..\antimicro\Changelog" />
                    </Component>
                    <Component Id="PROFILETIPS.MD" Guid="6BAA8497-A0C5-4D52-989E-F8DA5874BABB">
                        <File Source="..\antimicro\ProfileTips.md" />
                    </Component>
                    <Directory Id="PLATFORMS" Name="platforms">
                        <Component Id="QWINDOWS.DLL" Guid="F2A419FC-7EA8-436C-8CE9-68755251E39A">
                            <File Source="..\antimicro\platforms\qwindows.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="SHARE" Name="share">
                        <Directory Id="ANTIMICRO_1" Name="antimicro">
                            <Directory Id="TRANSLATIONS" Name="translations">
                                <Component Id="ANTIMICRO.QM" Guid="1838C3B1-11E8-4C8B-BDA7-78CD8F124FC0">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_BR.QM" Guid="B78BAC38-6EF6-4BFE-A904-85000FD73A9E">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_br.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_DE.QM" Guid="F6A15AE8-59FE-4C3A-A8AD-85710F0EF813">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_de.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_EN.QM" Guid="3DDDAA90-D307-4560-83B9-09CB70B401C5">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_en.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_FR.QM" Guid="A0A9F9F1-E999-4398-9483-CA98DD90191D">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_fr.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_JA.QM" Guid="9BCC2EFE-8F50-4E4F-B523-DF5CF7B1BB45">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_ja.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_RU.QM" Guid="BCD2572E-7B08-49D7-8BA6-732F2990C1EE">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_ru.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_SR.QM" Guid="E4EA2E15-4C20-4C00-AF5E-2048EE5717CC">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_sr.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_UK.QM" Guid="3C9F0917-7DDB-4F22-9164-624B2647B075">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_uk.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_ZH_CN.QM" Guid="B7A4696B-05F0-40C5-9F8C-88CC06B94030">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_zh_CN.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_ES.QM" Guid="*">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_es.qm" />
                                </Component>
                                <Component Id="ANTIMICRO_IT.QM" Guid="*">
                                    <File Source="..\antimicro\share\antimicro\translations\antimicro_it.qm" />
                                </Component>
                            </Directory>
                        </Directory>
                        <Directory Id="QT" Name="qt">
                            <Directory Id="QTTRANSLATIONS" Name="translations">
                                <Component Id="QT_AR.QM" Guid="8B3C5EE6-AE7C-4416-AA75-FE03DD2CE594">
                                    <File Source="..\antimicro\share\qt\translations\qt_ar.qm" />
                                </Component>
                                <Component Id="QT_CA.QM" Guid="9829B4BB-177B-44F0-9566-CC464C15035C">
                                    <File Source="..\antimicro\share\qt\translations\qt_ca.qm" />
                                </Component>
                                <Component Id="QT_CS.QM" Guid="6373FA22-6B73-4B4A-8B87-CF438F5DFB09">
                                    <File Source="..\antimicro\share\qt\translations\qt_cs.qm" />
                                </Component>
                                <Component Id="QT_DA.QM" Guid="1C4FB8FB-F423-4F2C-89B7-0AAC95EA3432">
                                    <File Source="..\antimicro\share\qt\translations\qt_da.qm" />
                                </Component>
                                <Component Id="QT_DE.QM" Guid="e58519e7-b0e5-4f81-bebe-13c69d1a0c17">
                                    <File Source="..\antimicro\share\qt\translations\qt_de.qm" />
                                </Component>
                                <Component Id="QT_FA.QM" Guid="CBB09EE1-6171-410B-9791-8AE47209D7EE">
                                    <File Source="..\antimicro\share\qt\translations\qt_fa.qm" />
                                </Component>
                                <Component Id="QT_FI.QM" Guid="88FDA26A-3706-40C6-812C-714F5EC3362D">
                                    <File Source="..\antimicro\share\qt\translations\qt_fi.qm" />
                                </Component>
                                <Component Id="QT_FR.QM" Guid="034D3CCD-C136-420B-BD96-5D98A7B2E0D1">
                                    <File Source="..\antimicro\share\qt\translations\qt_fr.qm" />
                                </Component>
                                <Component Id="QT_GL.QM" Guid="D473593F-FC0F-46F1-A6A3-CBDE4A8FB404">
                                    <File Source="..\antimicro\share\qt\translations\qt_gl.qm" />
                                </Component>
                                <Component Id="QT_IT.QM" Guid="49AEA817-37DF-4A6E-B602-B893AC767949">
                                    <File Source="..\antimicro\share\qt\translations\qt_it.qm" />
                                </Component>
                                <Component Id="QT_JA.QM" Guid="3195E536-D6A3-43E0-B814-D095C8EDDBCB">
                                    <File Source="..\antimicro\share\qt\translations\qt_ja.qm" />
                                </Component>
                                <Component Id="QT_KO.QM" Guid="8A77A7F6-3CF8-454E-82FA-7873B9BCA4AB">
                                    <File Source="..\antimicro\share\qt\translations\qt_ko.qm" />
                                </Component>
                                <Component Id="QT_RU.QM" Guid="167E0EE5-7524-486F-A58D-6853F535D599">
                                    <File Source="..\antimicro\share\qt\translations\qt_ru.qm" />
                                </Component>
                                <Component Id="QT_SK.QM" Guid="E1DFDCF3-ABEF-42B9-849C-377785E48184">
                                    <File Source="..\antimicro\share\qt\translations\qt_sk.qm" />
                                </Component>
                                <Component Id="QT_SL.QM" Guid="F8B7D84B-8409-4ABB-8944-344D8233E95C">
                                    <File Source="..\antimicro\share\qt\translations\qt_sl.qm" />
                                </Component>
                                <Component Id="QT_SV.QM" Guid="45D61FF0-5881-4648-9D45-E79632C383AD">
                                    <File Source="..\antimicro\share\qt\translations\qt_sv.qm" />
                                </Component>
                                <Component Id="QT_UK.QM" Guid="8B5346B2-FA5C-4ACE-9390-C26E1492699E">
                                    <File Source="..\antimicro\share\qt\translations\qt_uk.qm" />
                                </Component>
                                <Component Id="QT_ZH_CN.QM" Guid="EC2647FC-A877-4898-B659-602393AEB1A8">
                                    <File Source="..\antimicro\share\qt\translations\qt_zh_CN.qm" />
                                </Component>
                                <Component Id="QT_ZH_TW.QM" Guid="FB2541D5-275A-468D-86F8-3A6E6B66F23B">
                                    <File Source="..\antimicro\share\qt\translations\qt_zh_TW.qm" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="AntiMicro">
                    <Component Id="StartMenuShortcuts" Guid="9EF9C708-F53C-44A2-8604-8787CD6ECCCA">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall AntiMicro" Description="Uninstalls AntiMicro" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="ANTIMICRO.EXE" />
            <ComponentRef Id="ICUDT54.DLL" />
            <ComponentRef Id="ICUIN54.DLL" />
            <ComponentRef Id="ICUUC54.DLL" />
            <ComponentRef Id="LIBGCC_S_SEH_1.DLL" />
            <ComponentRef Id="LIBSTDC___6.DLL" />
            <ComponentRef Id="LIBWINPTHREAD_1.DLL" />
            <ComponentRef Id="QT5CORE.DLL" />
            <ComponentRef Id="QT5GUI.DLL" />
            <ComponentRef Id="QT5NETWORK.DLL" />
            <ComponentRef Id="QT5WIDGETS.DLL" />
            <ComponentRef Id="SDL2.DLL" />
            <ComponentRef Id="QWINDOWS.DLL" />
            <ComponentRef Id="README.MD" />
            <ComponentRef Id="GPL.TXT" />
            <ComponentRef Id="CHANGELOG" />
            <ComponentRef Id="PROFILETIPS.MD" />
            <ComponentRef Id="ANTIMICRO.QM" />
            <ComponentRef Id="ANTIMICRO_BR.QM" />
            <ComponentRef Id="ANTIMICRO_DE.QM" />
            <ComponentRef Id="ANTIMICRO_EN.QM" />
            <ComponentRef Id="ANTIMICRO_FR.QM" />
            <ComponentRef Id="ANTIMICRO_JA.QM" />
            <ComponentRef Id="ANTIMICRO_RU.QM" />
            <ComponentRef Id="ANTIMICRO_SR.QM" />
            <ComponentRef Id="ANTIMICRO_UK.QM" />
            <ComponentRef Id="ANTIMICRO_ZH_CN.QM" />
            <ComponentRef Id="ANTIMICRO_ES.QM" />
            <ComponentRef Id="ANTIMICRO_IT.QM" />
            <ComponentRef Id="QT_AR.QM" />
            <ComponentRef Id="QT_CA.QM" />
            <ComponentRef Id="QT_CS.QM" />
            <ComponentRef Id="QT_DA.QM" />
            <ComponentRef Id="QT_DE.QM" />
            <ComponentRef Id="QT_FA.QM" />
            <ComponentRef Id="QT_FI.QM" />
            <ComponentRef Id="QT_FR.QM" />
            <ComponentRef Id="QT_GL.QM" />
            <ComponentRef Id="QT_IT.QM" />
            <ComponentRef Id="QT_JA.QM" />
            <ComponentRef Id="QT_KO.QM" />
            <ComponentRef Id="QT_RU.QM" />
            <ComponentRef Id="QT_SK.QM" />
            <ComponentRef Id="QT_SL.QM" />
            <ComponentRef Id="QT_SV.QM" />
            <ComponentRef Id="QT_UK.QM" />
            <ComponentRef Id="QT_ZH_CN.QM" />
            <ComponentRef Id="QT_ZH_TW.QM" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <UI />
        <Icon Id="DesktopIcon.exe" SourceFile="..\antimicro\antimicro.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\antimicro\antimicro.exe" />
    </Product>
</Wix>
