[Desktop Entry]
Name=AntiMicro
Comment=
Exec=antimicro
Icon=antimicro
MimeType=
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Utility;
