[Desktop Entry]
Name=antimicrox
Comment=Use a gamepad to control a variety of programs
Name[sr]=Анти-микро
Comment[sr]=Користите џојстик или играћу тастатуру за управљање различитим програмима
Name[fr]=antimicrox
Comment[fr]=Utilisez une manette de jeu pour commander un logiciel
Name[de]=antimicrox
Comment[de]=Nutze das Gamepad um Programme/Spiele zu steuern
Comment[uk]=Використовуйте ігровий маніпулятор для керування програмами
Exec=antimicrox
Icon=io.github.antimicrox.antimicrox
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Utility;
MimeType=application/x-amgp;
Keywords=game;controller;keyboard;joystick;mouse;
Actions=run-in-tray;

[Desktop Action run-in-tray]
Name=Open in system tray only
Exec=antimicrox --tray
