*.o
.*.swp
.directory
*.qm
*.diff
*.mo
.flatpak-builder
Makefile
antimicroX
!share/antimicroX
antimicroX.pro.user
antimicroX.pro.user.*
moc_*
qrc_resources.cpp
ui_*.h
*.*~
SDL2-*
build/
build-dir/
Build/
CMakeLists.txt.user*
other/antimicroX.1.gz
other/license-template.txt
doc/
compile/
src/Changelog
SDL2_*
*.kate-swp
