*.o
.*.swp
.directory
*.qm
Makefile
antimicro
!share/antimicro
antimicro.pro.user
antimicro.pro.user.*
moc_*
qrc_resources.cpp
ui_*.h
*.*~
SDL2-2.0.3/
build-antimicro-Desktop_Qt_5_1_1_MinGW_32bit-Debug/
build-antimicro-Desktop_Qt_5_1_1_MinGW_32bit-release/
windows/*.msi
windows/*.wix*
build/
Build/
CMakeLists.txt.user
