*.o
.*.swp
.directory
*.qm
*.diff
*.mo
Makefile
antimicro
!share/antimicro
antimicro.pro.user
antimicro.pro.user.*
moc_*
qrc_resources.cpp
ui_*.h
*.*~
SDL2-2.0.3/
SDL2-2.0.4/
vmulti/
windows/*.msi
windows/*.wix*
build/
Build/
CMakeLists.txt.user*
other/antimicro.1.gz
other/license-template.txt
doc/
src/Changelog
