#include "winuser.h"

 IDI_ICON1               ICON    DISCARDABLE     "images/antimicro.ico"
#ifndef PERFORM_SIGNING
 CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "antimicro.exe.manifest"
#else
 CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "antimicro.exe.uiaccess.manifest"
#endif
